@model NichDevDotNetCore.Models.ViewModels.PostsViewModel
@{
    ViewData["Title"] = "Home";
}

<head>
    <meta charset="utf-8" />

    <script src="scripts/app.js"></script>

    <!-- Bootstrap files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

    <title></title>
</head>

@*Banner*@
<div class="d-flex flex-row banner">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
    <input type="button" value="Portfolio" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Portfolio")'" />
    <input type="button" value="Graphs" class="btn btn-info" onclick="location.href='@Url.Action("Index", "GraphPage")'" />
</div>

<div id="navBar" class="d-flex">
</div>

<div class="d-flex flex-row">
    <div class="d-flex flex-row w-75">
        @await Html.PartialAsync("_postsTable")
    </div>

    <div id="catFactDiv" class="d-flex flex-column w-25 secondaryBox">
        <div class="d-flex flex-row">
            <h3 class="card-title">Cat Facts</h3>
        </div>
        <div class="d-flex flex-row">
            <p id="catFactParagraph">@Model.CatFact.Fact</p>
        </div>
        <div class="d-flex flex-row">
            <input class="btn btn-info" type="button" value="Get Cat" onclick="getCatFact()" />
        </div>
    </div>
</div>

