@model NichDevDotNetCore.Models.Post

@{
    ViewData["Title"] = "Details";
}

@if (Model?.Title != null)
{
    <h1>@Model.Title</h1>
}
else
{
    <h1>Title</h1>
}
<div>
    @Model.Content
</div>
<div class="d-flex flex-row">
    <div class="d-flex flex-column w-75">
        @await Html.PartialAsync("../Shared/_postCommentsTable", Model)
    </div>
    <div class="d-flex flex-row w-25">
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
