<head>
    <meta charset="utf-8" />

    <script src="scripts/app.js"></script>

    <!-- Bootstrap files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/PluralSightFlexBoxBootstrap4.css" />

    <title></title>

</head>

<form>
    @*Logo*@
    <div class="d-flex">
        <img src="images/welsh_flag.png" class="logo" onclick="location.href='@Url.Action("Index", "Posts")'">
    </div>
</form>

@*Banner*@
<div class="d-flex flex-row banner"></div>

@*Cards*@
<div class="d-flex">
    <div class="callOuts d-flex flex-column">
        <img src="images/PluralSightCSS/shoe_Blue.png" class="d-block">
        <h3>Shoes</h3>
        <p>Gotta go fast</p>
    </div>
    <div class="callOuts d-flex flex-column">
        <img src="images/PluralSightCSS/mountain_Blue.png" class="d-block">
        <h3>Dat big mountain</h3>
        <p>Coming around the mountain</p>
    </div>
    <div class="callOuts d-flex flex-column">
        <img src="images/PluralSightCSS/bicycle_Blue.png" class="d-block">
        <h3>Cycling</h3>
        <p>Go go go</p>
    </div>
    @*    <div class="callOuts d-flex flex-column">
        <img src="images/PluralSightCSS/" class="d-block">
        <h3></h3>
        <p></p>
        </div>*@
</div>

@*Text and Image*@
<div class="d-flex">
    <div class="w-25">
        <img src="~/images/PluralSightCSS/shutterstock_422560537.jpg" class="img-fluid"/>
    </div>
    <div class="w-75">
        <h4>Title Section</h4>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <a href="#" class="btn btn-primary">Learn more</a>
    </div>
</div>

<div class="d-flex bottomArea">
    <div class="w-60">
        <img src="~/images/welsh_flag.png" class="img-fluid h-25">
        <h5>About Us</h5>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
    </div>
    <div class="d-flex flex-column">
        <h5>Contact Me:</h5>
        <div>Nich</div>
        <div>123 Smith Avenue</div>
        <div>Lala Land</div>
        <div>info@example.net</div>
    </div>
</div>

@*<div class="d-flex flex-row">
    <div class="testBox">Box One</div>
    <div class="testBox">Box Two</div>
    <div class="testBox">Box Three</div>
    <div class="testBox">Box Four</div>
    </div>*@